In [5]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv")

In [10]:
data.iloc[100:110, 2:5]

     displacement  horsepower  weight
100         250.0        88.0    3021
101         198.0        95.0    2904
102          97.0        46.0    1950
103         400.0       150.0    4997
104         400.0       167.0    4906
105         360.0       170.0    4654
106         350.0       180.0    4499
107         232.0       100.0    2789
108          97.0        88.0    2279
109         140.0        72.0    2401

In [14]:
subdata = data.iloc[100:110, 2:5]

In [16]:
data.iloc[2]

mpg                           18.0
cylinders                        8
displacement                 318.0
horsepower                   150.0
weight                        3436
acceleration                  11.0
model_year                      70
origin                         usa
name            plymouth satellite
Name: 2, dtype: object

In [17]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [19]:
data.iloc[2,2]
#idx = 2,2
#data.iloc[idx]

318.0

In [20]:
coo = (2,"displacement")
data.loc[coo]

318.0

In [22]:
data["mpg"] # better code
# data["mpg"] = data.mpg

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [23]:
data["column"]

KeyError: 'column'

In [24]:
data.index

RangeIndex(start=0, stop=398, step=1)

In [25]:
2 * data["mpg"] # 18 * 2

0      36.0
1      30.0
2      36.0
3      32.0
4      34.0
       ...
393    54.0
394    88.0
395    64.0
396    56.0
397    62.0
Name: mpg, Length: 398, dtype: float64

In [26]:
list(data["mpg"])

[18.0,
 15.0,
 18.0,
 16.0,
 17.0,
 15.0,
 14.0,
 14.0,
 14.0,
 15.0,
 15.0,
 14.0,
 15.0,
 14.0,
 24.0,
 22.0,
 18.0,
 21.0,
 27.0,
 26.0,
 25.0,
 24.0,
 25.0,
 26.0,
 21.0,
 10.0,
 10.0,
 11.0,
 9.0,
 27.0,
 28.0,
 25.0,
 25.0,
 19.0,
 16.0,
 17.0,
 19.0,
 18.0,
 14.0,
 14.0,
 14.0,
 14.0,
 12.0,
 13.0,
 13.0,
 18.0,
 22.0,
 19.0,
 18.0,
 23.0,
 28.0,
 30.0,
 30.0,
 31.0,
 35.0,
 27.0,
 26.0,
 24.0,
 25.0,
 23.0,
 20.0,
 21.0,
 13.0,
 14.0,
 15.0,
 14.0,
 17.0,
 11.0,
 13.0,
 12.0,
 13.0,
 19.0,
 15.0,
 13.0,
 13.0,
 14.0,
 18.0,
 22.0,
 21.0,
 26.0,
 22.0,
 28.0,
 23.0,
 28.0,
 27.0,
 13.0,
 14.0,
 13.0,
 14.0,
 15.0,
 12.0,
 13.0,
 13.0,
 14.0,
 13.0,
 12.0,
 13.0,
 18.0,
 16.0,
 18.0,
 18.0,
 23.0,
 26.0,
 11.0,
 12.0,
 13.0,
 12.0,
 18.0,
 20.0,
 21.0,
 22.0,
 18.0,
 19.0,
 21.0,
 26.0,
 15.0,
 16.0,
 29.0,
 24.0,
 20.0,
 19.0,
 15.0,
 24.0,
 20.0,
 11.0,
 20.0,
 21.0,
 19.0,
 15.0,
 31.0,
 26.0,
 32.0,
 25.0,
 16.0,
 16.0,
 18.0,
 16.0,
 13.0,
 14.0,
 14.0,
 14.0,
 29.0,
 26.0,
 26.0,
 31.0,
 32.0,
 28.0,
 24.0,
 26.0,
 24.0,
 26.0,
 31.0,
 19.0,
 18.0,
 15.0,
 15.0,
 16.0,
 15.0,
 16.0,
 14.0,
 17.0,
 16.0,
 15.0,
 18.0,
 21.0,
 20.0,
 13.0,
 29.0,
 23.0,
 20.0,
 23.0,
 24.0,
 25.0,
 24.0,
 18.0,
 29.0,
 19.0,
 23.0,
 23.0,
 22.0,
 25.0,
 33.0,
 28.0,
 25.0,
 25.0,
 26.0,
 27.0,
 17.5,
 16.0,
 15.5,
 14.5,
 22.0,
 22.0,
 24.0,
 22.5,
 29.0,
 24.5,
 29.0,
 33.0,
 20.0,
 18.0,
 18.5,
 17.5,
 29.5,
 32.0,
 28.0,
 26.5,
 20.0,
 13.0,
 19.0,
 19.0,
 16.5,
 16.5,
 13.0,
 13.0,
 13.0,
 31.5,
 30.0,
 36.0,
 25.5,
 33.5,
 17.5,
 17.0,
 15.5,
 15.0,
 17.5,
 20.5,
 19.0,
 18.5,
 16.0,
 15.5,
 15.5,
 16.0,
 29.0,
 24.5,
 26.0,
 25.5,
 30.5,
 33.5,
 30.0,
 30.5,
 22.0,
 21.5,
 21.5,
 43.1,
 36.1,
 32.8,
 39.4,
 36.1,
 19.9,
 19.4,
 20.2,
 19.2,
 20.5,
 20.2,
 25.1,
 20.5,
 19.4,
 20.6,
 20.8,
 18.6,
 18.1,
 19.2,
 17.7,
 18.1,
 17.5,
 30.0,
 27.5,
 27.2,
 30.9,
 21.1,
 23.2,
 23.8,
 23.9,
 20.3,
 17.0,
 21.6,
 16.2,
 31.5,
 29.5,
 21.5,
 19.8,
 22.3,
 20.2,
 20.6,
 17.0,
 17.6,
 16.5,
 18.2,
 16.9,
 15.5,
 19.2,
 18.5,
 31.9,
 34.1,
 35.7,
 27.4,
 25.4,
 23.0,
 27.2,
 23.9,
 34.2,
 34.5,
 31.8,
 37.3,
 28.4,
 28.8,
 26.8,
 33.5,
 41.5,
 38.1,
 32.1,
 37.2,
 28.0,
 26.4,
 24.3,
 19.1,
 34.3,
 29.8,
 31.3,
 37.0,
 32.2,
 46.6,
 27.9,
 40.8,
 44.3,
 43.4,
 36.4,
 30.0,
 44.6,
 40.9,
 33.8,
 29.8,
 32.7,
 23.7,
 35.0,
 23.6,
 32.4,
 27.2,
 26.6,
 25.8,
 23.5,
 30.0,
 39.1,
 39.0,
 35.1,
 32.3,
 37.0,
 37.7,
 34.1,
 34.7,
 34.4,
 29.9,
 33.0,
 34.5,
 33.7,
 32.4,
 32.9,
 31.6,
 28.1,
 30.7,
 25.4,
 24.2,
 22.4,
 26.6,
 20.2,
 17.6,
 28.0,
 27.0,
 34.0,
 31.0,
 29.0,
 27.0,
 24.0,
 23.0,
 36.0,
 37.0,
 31.0,
 38.0,
 36.0,
 36.0,
 36.0,
 34.0,
 38.0,
 32.0,
 38.0,
 25.0,
 38.0,
 26.0,
 22.0,
 32.0,
 36.0,
 27.0,
 27.0,
 44.0,
 32.0,
 28.0,
 31.0]

In [29]:
data["cylinders"] + data["mpg"] # 8 + 18 = 26

0      26.0
1      23.0
2      26.0
3      24.0
4      25.0
       ...
393    31.0
394    48.0
395    36.0
396    32.0
397    35.0
Length: 398, dtype: float64

In [30]:
data["mpg"] < 20 # outcome is boolean (mass)

0       True
1       True
2       True
3       True
4       True
       ...
393    False
394    False
395    False
396    False
397    False
Name: mpg, Length: 398, dtype: bool

In [32]:
mask= data["mpg"] < 20 # input in index it will show the number
data[mask]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
290,15.5,8,351.0,142.0,4054,14.3,79,usa,ford country squire (sw)
291,19.2,8,267.0,125.0,3605,15.0,79,usa,chevrolet malibu classic (sw)
292,18.5,8,360.0,150.0,3940,13.0,79,usa,chrysler lebaron town @ country (sw)
316,19.1,6,225.0,90.0,3381,18.7,80,usa,dodge aspen
366,17.6,6,225.0,85.0,3465,16.6,81,usa,chrysler lebaron salon

In [33]:
data[data.mpg <20] # == mask= data["mpg"] < 20 # input in index it will show the number
#data[mask]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
290,15.5,8,351.0,142.0,4054,14.3,79,usa,ford country squire (sw)
291,19.2,8,267.0,125.0,3605,15.0,79,usa,chevrolet malibu classic (sw)
292,18.5,8,360.0,150.0,3940,13.0,79,usa,chrysler lebaron town @ country (sw)
316,19.1,6,225.0,90.0,3381,18.7,80,usa,dodge aspen
366,17.6,6,225.0,85.0,3465,16.6,81,usa,chrysler lebaron salon

In [37]:
mpg_mask = data["mpg"] <20
year_mask = data["model_year"]>= 80
final_mask = mpg_mask and year_mask
data[final_mask]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [39]:
data.query("mpg < 20 & model_year >= 80") #works good job

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
316,19.1,6,225.0,90.0,3381,18.7,80,usa,dodge aspen
366,17.6,6,225.0,85.0,3465,16.6,81,usa,chrysler lebaron salon

In [1]:
x = 5
print (f"Twice {x}is {2*x}")

Twice 5is 10

<h1>Hello </h1>
# Hello!
<p> Let try this out</p>
* Note*
Formatted math $E = mc^2$